.jumbotron {
  margin: 0px auto;
  padding: 9rem 9rem;
  background: url(../img/mathazul.png) #ddd repeat;
  text-align: center; }

.jumbotron-change {
  padding: 5rem 9rem; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding: 0;
  height: max-content;
  background: #0a4058;
  border: 0.2rem solid #ff0948;
  border-radius: 0.5rem; }
