
//Color Variables
$blue-dark: #0a4058;
$pink-dark: #ff0948;
$lt-gray: #ddd;


@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.jumbotron{
    @include zero-margin(9rem, 9rem);
    background: url(../img/mathazul.png) $lt-gray repeat ;
    text-align: center;
}
.jumbotron-change{
    padding: 5rem 9rem;
}

.navbar{
    position: sticky;
    top:0;
    z-index: 10000;
    padding: 0;
    height: max-content;
    background: $blue-dark;
    border: 0.2rem solid $pink-dark;
    border-radius: 0.5rem;
}

.tab-content{
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

#nav-contribute-tab, #nav-education-tab{
    font-size: 1.3rem;
}

.row-container{
    padding: 4rem 0 3rem 0;
    border-bottom: 0.2rem solid $lt-gray;
}

.card{
    border: .3px solid $blue-dark;
}
.btn-outline-danger {
    color: $pink-dark;
    border-color: $pink-dark;
}

.btn-outline-danger:hover {
    background: $pink-dark;
}

.title-section{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    h2{
        border-bottom: 2px solid $pink-dark;
    }
}

.footer{
    border-top: 0.25rem solid $pink-dark;
    background: $blue-dark;
    color: #d0d0d0
}

.sendMessage{
    background: $pink-dark;
}