
//Color Variables
$blue-dark: #0a4058;
$pink-dark: #ff0948;
$lt-gray: #ddd;


@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.jumbotron{
    @include zero-margin(9rem, 9rem);
    background: url(../img/mathazul.png) $lt-gray repeat ;
    text-align: center;
}
.jumbotron-change{
    padding: 5rem 9rem;
}

.navbar{
    position: sticky;
    top:0;
    z-index: 10000;
    padding: 0;
    height: max-content;
    background: $blue-dark;
    border: 0.2rem solid $pink-dark;
    border-radius: 0.5rem;
}

.tab-content{
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

#nav-contribute-tab, #nav-education-tab{
    font-size: 1.3rem;
}

.row-container{
    padding: 4rem 0 3rem 0;
    border-bottom: 0.2rem solid $lt-gray;
}

.proyects{
    .card{
        border: .3px solid $blue-dark;
    }
}

.btn-outline-danger {
    color: $pink-dark;
    border-color: $pink-dark;
}

.btn-outline-danger:hover {
    background: $pink-dark;
}

.title-section{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    h2{
        border-bottom: 2px solid $pink-dark;
    }
}

.progress{
    height: 1.5rem;
    font-size:0.75em;
}

.html5{
    .progress-bar{
        background-color: #ff4c1e;
    }
}

.php{
    .progress-bar{
        background-color: #777bb3;
    }
}

.git{
    .progress-bar{
        background-color: #dd4c35;
    }
}



.footer{
    border-top: 0.25rem solid $pink-dark;
    background: $blue-dark;
    color: #d0d0d0
}

.sendMessage{
    background: $pink-dark;
}
.sendMessage:hover{
    color: $pink-dark;
    background: #fff;
    border: 2px solid $pink-dark;
}


.glider-prev, .glider-next{
    position:absolute;
    display:block;
    width:4rem;
    height:4rem;
    top:45%;
    cursor:pointer;
    color:$blue-dark;

}
.glider-prev{
    left: -0.8rem;
}
.glider-next{
    right:-0.8rem;   
} 

.learnimgcont{
    display:flex;
    justify-content: center;
    .learnimg{
        height: 12rem;
        border-radius:50%;
    }
}
.log-inst{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}