.jumbotron {
  margin: 0px auto;
  padding: 9rem 9rem;
  background: url(../img/mathazul.png) #ddd repeat;
  text-align: center; }

.jumbotron-change {
  padding: 5rem 9rem; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 10000;
  padding: 0;
  height: max-content;
  background: #0a4058;
  border: 0.2rem solid #ff0948;
  border-radius: 0.5rem; }

.tab-content {
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6; }

#nav-contribute-tab, #nav-education-tab {
  font-size: 1.3rem; }

.row-container {
  padding: 4rem 0 3rem 0;
  border-bottom: 0.2rem solid #ddd; }

.proyects .card {
  border: 0.3px solid #0a4058; }

.btn-outline-danger {
  color: #ff0948;
  border-color: #ff0948; }

.btn-outline-danger:hover {
  background: #ff0948; }

.title-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .title-section h2 {
    border-bottom: 2px solid #ff0948; }

.progress {
  height: 1.5rem;
  font-size: 0.75em; }

.html5 .progress-bar {
  background-color: #ff4c1e; }

.php .progress-bar {
  background-color: #777bb3; }

.git .progress-bar {
  background-color: #dd4c35; }

.footer {
  border-top: 0.25rem solid #ff0948;
  background: #0a4058;
  color: #d0d0d0; }

.sendMessage {
  background: #ff0948; }

.sendMessage:hover {
  color: #ff0948;
  background: #fff;
  border: 2px solid #ff0948; }

.glider-prev, .glider-next {
  position: absolute;
  display: block;
  width: 4rem;
  height: 4rem;
  top: 45%;
  cursor: pointer;
  color: #0a4058; }

.glider-prev {
  left: -0.8rem; }

.glider-next {
  right: -0.8rem; }

.learnimgcont {
  display: flex;
  justify-content: center; }
  .learnimgcont .learnimg {
    height: 12rem;
    border-radius: 50%; }

.log-inst {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
